.tr_bt_px td{ text-align:center; border-left:1px dotted #E1E1E1; padding:2px 5px; height:90px;}
.yidong{ background:url(images/yid.jpg) no-repeat center; width:26px; height:23px; line-height:23px; padding-top:2px;cursor:pointer;}
.s_no{ width:26px; height:23px; line-height:23px; }


.quchu{ background:url(images/an_small.jpg); width:48px; height:25px; line-height:25px; margin-left:28px; border:0;}
.p_an{ padding:10px 20px;}

.tr_bt_pl td{ text-align:left; color:#4351a9; background:#f8f8f8; line-height:35px; font-weight:bold; padding-left:10px;}
.td_bt_pl{ text-align:center!important; color:#4351a9; background:#f8f8f8; line-height:35px; font-weight:bold;  height:35px;}

.table_1{ width:90%; margin:5px auto}
.table_1 td{ background-color:#FFFFFF; text-align:right; padding:5px;  height:25px!important;}
.table_2{ width:90%; margin:5px auto}
.table_2 td{ background-color:#FFFFFF; text-align:left; padding:5px;  height:25px;}
.table_2 td input{ line-height:20px;}
.table_2 td select{ line-height:20px;}
.span_h{ visibility: hidden;}
.width_shuru{ width:140px;}
.juzhong{ vertical-align:middle}
.left_px{ width:180px; float:left; overflow:hidden}
.right_px{ width:844px; float:right; overflow:hidden}
.p_biaotou{ line-height:35px;}